body{
    font-family: 'Syne Mono', monospace;
}

body > nav{
    background-color: black;
    display: inline-block;
    font-size: 20pt;
}

body>nav>a:active,
body>nav>a:visited,
body>nav>a:focus{
    color: white;
    text-decoration: none;
    list-style: none;
}
body>nav>a:hover{
    background-color: gray;
}