

/* --- ANIMATION --- */


/*  anim logo tour de page */
.anim-logo-container{
    position: absolute;
    min-width: 100%;
    min-height: 100%;
}

.anim-logo-img{
    width: 80px;
    position: absolute;
    animation: animTourPage 10s 3;
    animation-timing-function: cubic-bezier(.16,.03,.9,1.02);
    opacity: 0%;
}

@keyframes animTourPage{
    0%{
        opacity: 20%;
        top: 0%;
        left: 0%;
    }
    25%{
        transform: rotate(90deg);
        opacity: 100%;
        top: 0%;
        left: 94%;
    }
    50%{
        transform: rotate(180deg);
        top: 95%;
        left: 94%;
    }
    75%{
        transform: rotate(270deg);
        opacity: 100%;
        top: 95%;
        left: 0%;
    }
    100%{
        transform: rotate(360deg);
        left: 0%;
        top: 0%;
    }
}


.nav-link:hover{
    color: #962d2d !important;
    border-bottom: #962d2d 5px solid !important;
    transition: all 0.5s ease;
}


/* anim arrow/lien page blog */
.arrow{
    width: 32px;
    background-color: rgba(0,0,0,0);
    border-radius: 0%;
    transition: all 1s ease;
}

.anim-arrow:hover{
    transition: all 0.5s ease;
    width: 40px;
    border-radius: 50%;
    background-color: #E0B23A;
}

/* opacité des pages a l'ouverture */
.anim-opacity{
    animation: animOpacity 2s 1 ease;
}

@keyframes animOpacity{
    0%{
        opacity: 0%;
    }
    100%{
        opacity: 100%;
    }
}

/* anim bouton call-to-action pour infolettre */
.bouton-contacter{
    background-color: #424242;
    color: #f5f5f5;
    font-size: 24px;
    text-align: center;
    width: 280px;
    border: #f5f5f5 2px solid;
    transition: all 1s;
    animation: btnContacter 2s infinite;
    z-index: 5;
}

.bouton-contacter:hover{
    background-color: #f5f5f5;
    color: #424242;
    transition: all 1s;
    width: 300px;
    animation: btnContacter 2s 1;
}

@keyframes btnContacter{
    50%{
        background-color: #962d2d;
    }
}

/*  anim popup infolettre  */
.popup{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0) rotate(360deg);
    transition: 1s ease-in-out;
    border: 2px solid #426E9A;
    border-radius: 10px;
    z-index: 10;
    background-color: #f5f5f5;
    width: 500px;
    max-width: 80%;
    box-shadow: 5px 5px 15px 2px #444444;
}

.popup.activePopup{
    transform: translate(-50%, -50%) scale(1) rotate(0deg);
}

.popup-header{
    padding: 10px 10px 0 10px;
    display: flex;
    justify-content: space-between;
    align-content: center;
    border-bottom: 2px solid #426E9A;
}

.btn-close{
    padding: 10px;
}

.popup-body{
    padding: 10px;
}

#overlay{
    position: fixed;
    opacity: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    pointer-events: none;
    transition: 1s ease-in-out;
}

#overlay.activeOverlay{
    opacity: 1;
    pointer-events: all;
}

/*  Anim du logo page accueil  */
.st0{
    opacity: 100%;
    filter: blur(40px);
    animation: rondGris 5s infinite ease-in-out;
    animation-delay: 5s;
}

@keyframes rondGris{
    50%{
        opacity: 60%;
    }
}

#gauche{
    animation: animGauche 1s 1 ease-out;
}

@keyframes animGauche{
    0%{
        transform: translate(800px, 0);
    }
    100%{
        transform: translate(0, 0);
    }
}

#droite{
    animation: animDroite 2s 1 ease-out;
}

@keyframes animDroite{
    0%{
        transform: translate(-820px, 0);
    }
    33%{
        transform: translate(-820px, 0);
    }
    100%{
        transform: translate(0, 0);
    }
}

#haut{
    animation: animhaut 6s 1 ease-out;
    transform-origin: center;
}

@keyframes animhaut{
    0%{
        transform: translate(-100px, -500px) rotate(90deg);
    }

    40%{
        transform: translate(-100px, -500px) rotate(90deg);
    }

    60%{
        transform: translate(-100px, 0px) rotate(90deg);
    }

    100%{
        transform: translate(0, 0) rotate(0deg);
    }
}


#bas{
    animation: animbas 6s 1 ease-out;
    transform-origin: center;
}

@keyframes animbas{
    0%{
        transform: translate(0, 500px) rotate(90deg);
    }

    40%{
        transform: translate(0, 500px) rotate(90deg);
    }

    60%{
        transform: translate(0, 0px) rotate(90deg);
    }

    100%{
        transform: translate(0, 0) rotate(0deg);
    }
}

/* animjs typo */
#typo path{
    animation: animeTypo 6s 1 ease-in;
    fill: black;
    stroke: rgb(0, 0, 0);
    stroke-width: 0px;
}

@keyframes animeTypo{
    0% { 
        fill: rgba(0, 0, 0, 0);
        stroke-width: 4px;
    }
    60% { 
        fill: rgba(0, 0, 0, 0);
        stroke-width: 4px;
    }
    80% { 
        fill: rgba(0, 0, 0, 1);
        stroke-width: 4px;
    }
    100% { 
        fill: rgba(0, 0, 0, 1);
        stroke-width: 0px;
    }
}