/*  font / texte / titre */


.font-kulim{
    font-family: 'Kulim Park', sans-serif;
}

.font-exo{
    font-family: 'Exo', sans-serif;
}

h1{
    font-size: 48px;
    font-weight: 200;
    margin: 0;
    line-height: 50px;
}

h2{
    font-size: 72px;
    font-weight: 800;
    color: #E0B23A;
}

h3{ 
    font-size: 32px;
    font-weight: 700;
    color: #426E9A; 
}

h4{
    font-size: 26px;
    font-weight: 200;
}

h5{
    font-size: 24px;
    font-weight: 700;
    color: #426E9A;
}

h6{
    font-size: 20px;
    font-weight: 200;
}

.sous-titre{
    font-size: 28px;
    font-weight: 200;
    font-style: italic;
    padding-left: 220px;
    margin: 0;
}

.text-align-justify{
    text-align: justify;
}


/*  Nav bar  */


.navTexte{
    font-size: 20px;
    font-weight: 900;
}

.wrapper{
    width: 1400px;
    margin: 0 auto;
}

.nowrap{
    white-space: nowrap;
}

.container-fluid{
    padding: 0;
}

.navbar-expand-xxl .navbar-nav .nav-link {
    margin-left: 110px;
    padding: 0;
    line-height: 20px;
    color: #2c2c2c;
}

.bg-gris{
    background-color: #F5F5F5;
}
.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link {
    color: #E0B23A;
    border-bottom: 5px solid #962d2d;
}


/* -----------  Accueil --------------- */

/* Section logo */

.logo-container{
    width: 40%;
    padding: 15% 0;
}

.logo-s{
    width: 100%;
}

.bg-code{
    background: url(../images/accueil/lignecode1.jpg) repeat fixed 100%;
    background-size: cover;
}

/* section bienvenue */

.logo-garneau{
    max-width: 300px;
}

.padding-TB{
    padding: 5% 0;
}

.texte-marge{
    margin: 0 10px 0 10px !important;
}

/* section compétences */

.bg-bureau{
    background: url(../images/accueil/bureau_ordinateur.jpg) repeat fixed 100%;
    background-size: cover;
}

.padding-250{
    padding: 300px 0;
}

.bg-gris-opaque{
    background: rgba(245, 245, 245, 0.78);
    padding: 50px 0;
}

/* ------- Footer --------- */

footer{
    padding-top: 50px;
}

.height-250{
    height: 250px;
}

.s-logo-footer{
    width: 160px;
}

.texte-12{
    font-size: 12px;
}

.ml-200{
    margin-left: 200px;
}


/*--------- QUI SUIS-JE --------*/

.bg-noir{
    background: linear-gradient(180deg, #272727 0%, #444444 100%);
}

.red-border{
    border-bottom: 5px solid #963D3D;
}

.padding-100{
    padding: 100px 0;
}

.padding-bottom200{
    padding-bottom: 200px;
}

.margin-T40{
    margin-top: 40px;
}

.margin-B40{
    margin-bottom: 40px;
}

.img-border{
    padding: 10px;
    border: 1px solid #f5f5f5;
    box-shadow: 0px 0px 17px #BBB;
}


/*-----------RÉALISATIONS-------------*/


.toppage {
    position: fixed;
    bottom: 40px;
    right: 130px;
}

.bg-gris-nav{
    background-color: #424242;
}

.real-link{
    font-weight: bold;
    color: #E0B23A;
}

a:hover{
    color: #963D3D;
}

.dropdown-item{
    background-color: #424242;
}
.dropdown-menu{
    background-color: #424242;
}

.zindex-14{
    z-index: 14;
}

.zindex-13{
    z-index: 13;
}

.zindex-12{
    z-index: 12;
}

.zindex-11{
    z-index: 11;
}

/*-----BLOG------*/

.card{
    padding: 0;
    box-shadow: 4px 3px 0px #426E9A; 
}

.date{
    color: #E0B23A;
    font-size: 12px;
    font-weight: bold;
}

.float-right{
    float: right;
}

.float-left{
    float: left;
}

.img-blog{
    max-height: 245px;
}

/*-----Contact ------*/

.padding-bottom100{
    padding-bottom: 100px;
}

.texte-contact {
    font-weight: 300;
    font-size: 36px;
    line-height: 49px;
    color: #3A3A3A;
    margin-left: 170px;
}


.input {
    background: #ECF0F1;
    box-shadow: inset 4px 4px 10px -2px #426E9A;
    border-radius: 4px;
    border: 0px;
    width: 620px;
    height: 60px;
    margin: 8px 0 30px 0;
    padding-left: 20px;
    font-size: 16px;
}

.textarea {
    padding: 20px;
    height: 253px;
}

.label {
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 24px;
    color: #426E9A;
}

.soumettre {
    color: white;
    background-color: #426E9A;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 3px;
    width: 226px;
    height: 64px;
    margin-left: 430px;
    letter-spacing: 0.135em;
    text-transform: uppercase;
}

.error-list-none {
    display: none;
}

.error-list-visible {
    margin: 10px 0 0 70px;
    font-size: 16px;
    color: red;
    display: block;
}

.input-error {
    box-shadow: inset 4px 4px 10px -2px #cc0000;
}

.clear{
    clear: both;
}


/*-- media query --*/


@media screen and (max-width: 1400px) {
    .wrapper{
        width: 100%;
        margin: 0 auto;
    }
    
    .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link {
        border-bottom: 0px;
    }

}

@media screen and (max-width: 900px) {
    h1{
        font-size: 36px;
    }
    .sous-titre{
        font-size: 18px;
    }
    .bg-bureau{
        background: url(../images/accueil/bureau_ordinateur.jpg) repeat fixed 40%;
        background-size: cover;
    }

    h2{
        font-size: 36px;
    }
    .toppage{
        opacity: 60%;
        bottom: 0;
        right: 0;
    }
    .padding-100{
        padding: 50px 0;
    }
    .card{
        max-width: 100%;
    }

    .gy-5{
      --bs-gutter-y: 0.5rem;  
    }

    .label{
        font-size: 14px;
    }

    .input{
        width: 230px;
        height: 55px;
        font-size: 12px;
    }

    .textarea {
        height: 200px;
    }

    .soumettre{
        margin-left: 30px;
    }

    h3, h4{
        font-size: 22px;
    }

    .ml-200{
        margin-left: 0px;
        padding-left: 90px;
    }

    .editwidth{
        max-width: 380px !important;
        padding-left: 20px;
    }

    .real-link{
        font-size: 14px;
    }
    .dropdown{
        padding-bottom: 20px;
    }
}

